.port{
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 55px;
}
.port-top{
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-around;
}
.port-top-date{
    display: flex;
    gap: 20px;
}
.port-top-bio{
    font-size: 16px;
}
.date p{
    border: 2px solid grey;
    border-radius: 20px;
    padding: 8px 24px;
}
.time p{
    border: 2px solid grey;
    border-radius: 20px;
    padding: 8px 24px;
}
.port-bottom{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    width: 1826px;
    height: 250px;
    
}
.port-portfolio{
    padding: 8px 16px;
    width: 600px;
    border-radius: 20px;
    border: 2px solid white;
}
.port-portfolio:hover{
    cursor: pointer;
    padding: 16px;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 2px 2px 8px 2px grey;
}
.port-portfolio h3{
    text-align: center;
    border: 2px solid grey;
    padding: 8px 24px;
    width: 70px;
    border-radius: 30px;
}
.port-portfolio p{
    margin-top: 30px;
}
.port-portfolio-img{
    height: 70px;
}
.port-portfolio-img img{
    width: 100%;
    height: 100%;
}
.port-photos{
    color: white;
    padding: 8px 16px;
    width: 600px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #645CBB;
}
.port-photos:hover{
    cursor: pointer;
    padding: 16px;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 1px 1px 8px 1px white;
}
.port-photos h3{
    text-align: center;
    border: 2px solid white;
    padding: 8px 24px;
    width: 70px;
    border-radius: 30px;
}

.port-photos-info{
    padding: 0px 16px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.port-blog{
    color: black;
    background-color: #FAC213;
    padding: 8px 16px;
    width: 600px;
    border-radius: 20px;
    border: 2px solid black;
}
.port-blog:hover{
    cursor: pointer;
    padding: 16px;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 2px 2px 8px 2px white;
}
.port-blog h3{
    text-align: center;
    border: 2px solid black;
    padding: 8px 24px;
    width: 70px;
    border-radius: 30px;
}
.port-blog-info{
    padding: 0px 16px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}